
@{
    ViewBag.Title = "Registration";
}
@Styles.Render("~/Content/Booking.css")
<h2>Registration</h2>
<div class="succinnr">
    <div class="successtxt">
        Email address registered successfully
    </div>
    <div class="succ-you-are">
        You are now registered with MyShowBooking.com
    </div>
</div>